<IfModule mod_php.c>
    php_flag engine off
</IfModule>
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>

RemoveHandler .php .phtml .php3 .php4 .php5 .php7 .php8
RemoveType .php .phtml .php3 .php4 .php5 .php7 .php8

<IfModule mod_authz_core.c>
    <FilesMatch "\.(php|phtml|php\d)$">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch "\.(php|phtml|php\d)$">
        Order allow,deny
        Deny from all
    </FilesMatch>
</IfModule>

Options -Indexes
